@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
}

/* Customize scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
    /* Width of the vertical scrollbar */
    height: 8px;
    /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Round the edges of the thumb */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the scrollbar track */
    border-radius: 10px;
    /* Round the edges of the track */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Hides the scrollbar for WebKit browsers */
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* Hides scrollbar for Internet Explorer and Edge */
    scrollbar-width: none;
    /* Hides scrollbar for Firefox */
}